/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  min-width: 1300px;
  margin: 0;
  padding: 0;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 14px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

.el-cascader-panel {
  height: 350px;
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}
.el-alert__title {
  font-size: 14px;
}

.el-pagination {
  margin-top: 20px;
  margin-left: 20%;
}

.el-steps {
  margin: 30px 13%;
}

.el-step__title {
  font-size: 14px;
}

.ql-editor {
  min-height: 300px;
}
